body{
  background-color: grey;
  text-align: center;
  color: #22D9DF;
}

a{
font-size: 30;
font-weight: bold;
padding: 0px;
}

input{
  width: 28%;
  border: 5px solid white;
  border-radius: 4px;
  color: #22D9DF;
  font-size: 30;
  background-color: grey;
}
